.about(itemscope itemtype="http://schema.org/Organization")
    .container
        .row
            .col-12.col-md
                .about__title
                    h2 О магазине <span itemprop="name">Фетч</span>
                .about__text(itemprop='description')
                    p В магазине Фетч представлено более 100 ведущих мировых производителей одежды и обуви.
                    p Разнообразие ассортимента обеспечивают товары культовых брендов современности: Barbour, Fred Perry, Norse Projects, Edwin и капсульные коллекции компаний, делающих ставку на эксклюзивность и премиальный статус своей продукции — Stone Island, Polo Ralph Lauren, C.P. Company.
                    p Приобрести последние можно лишь в нескольких торговых точках по всему миру, включая Фетч.
                    p Особый повод для гордости — обширная подборка редких и культовых кроссовок adidas Originals, Nike, New Balance, ASICS, Reebok и другие.
            .col-12.col-md
                .about__info
                    .about__yl(itemprop="streetAddress") Москва, Тимирязевская, 3
                    .about__cont
                        a(itemprop="email", href="mail:shop@fetch.ru") shop@fetch.ru
                        .about__tel
                            span(itemprop="telephone") 8 800 912-11-42
                            span Звонок бесплатный
                    .about__text
                        p
                            |ИНН/КПП: 2901152637 / 290101001<br>
                            |ОГРН: 1062901063576<br>
                            |БИК: 041117601, к/с 30101810100000000601<br>
                        p Расчетный счет: 40702810004000103812 в отделении N8637 Сбербанка России, Архангельск
                        p Генеральный директор — Василенко Артём Викторович
