doctype html
html(lang='ru' data-theme='white')
    head
        meta(charset='UTF-8')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        block title
        link(rel='stylesheet' href='assets/css/style.css')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
        //link(rel='stylesheet' href='assets/vendor/css/bootstrap-grid.min.css')
        block link

    body.main
        .wrapper(data-theme='light')
            block header
                include ../components/c-header/header
            main.main-content
                block content
            block foot
                include ../components/c-footer/footer
    script(src='assets/vendor/js/jquery-3.5.1.slim.min.js')
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js")
    block scripts
    script(src="assets/vendor/js/lazysizes.min.js")
    script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
    script(src='assets/js/script.js')
