extends templates/tp-default
block title
    title Card item
block link
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
block content
    include components/item/item-content
block scripts
    script(src="assets/vendor/js/slick.min.js")
