.c-complete
    .container
        .row
            .col-12
                .c-complete__title
                    h2 Заказ №213 оформлен
                .c-complete__content
                    p Скоро вам позвонит менеджер, чтобы подтвердить заказ.
                    p  <a href="/"> Вернуться на главную</a> или <a href="/catalog.html")>продолжить покупки в каталоге</a>
                include ../../components/interest/interest
