/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}

/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}

/* Стрелка */
.slick-arrow{
  position: absolute;
  top:50%;
  margin-top: -9px;
  z-index: 10;
  font-size: 0;
  width: 18px;
  height: 23px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0.3ms;
}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

.slider{
  position: relative;


  .slick-arrow{

    opacity: 0.7;
    &:hover{
      opacity: 1;
      transform: scale(1.3);
    }
    &:focus{
      outline: none;
    }

    &.slick-prev{
      left:25px + (22/2);
      background: url("../img/icons/arr-left.svg") 0 0 / 100% no-repeat;


    }
    &.slick-next{
      right:25px + (22/2);
      background: url("../img/icons/arr-right.svg") 0 0 / 100% no-repeat;


    }
  }
  .slick-track{
    text-align: center;
  }

  .slick-slide{
    overflow: hidden;
  }

  &__item{
    width: 1440px;
    height: 600px;
    position: relative;
  }
  &__image{
    position:absolute;
    width:1440px;
    height: 100%;
    top:0;
    left:0;
    @include w-to($sm){
      left:-520px
    }
    &__position{
      @include w-to($sm){
        left:-320px
      }
    }

    picture{
      width: inherit;
      height: inherit;
    }

    img{
      width: inherit;
      height: inherit;
    }
  }
}
.slider-int{
  position: relative;
  .slick-arrow{
    position: absolute;
    &:hover{
      transform: scale(1.3);
    }
    &:focus{
      outline: none;
    }

    &.slick-prev{
      left:-50px + (22/2);
      background: url("../img/icons/arr-l-b.svg") 0 0 / 100% no-repeat;

      @include w-to($sm){
        left: -5px;
      }
    }
    &.slick-next{
      right:-50px + (22/2);
      background: url("../img/icons/arr-r-b.svg") 0 0 / 100% no-repeat;

      @include w-to($sm){
        right: -5px;
      }

    }
  }


  .card{
      margin: 0 25px;
  }
  .card__title{
    width: 190px;
  }

}
.slider-nav__inner{
  .slick-current{
    opacity: 0.3;
  }
  .slider-nav__item{
    margin-right: 15px;
  }
}
