//@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "parts/vars";
@import "parts/mixins";
@import "fonts-icons";
//@import "slick-theme";
//@import "slick";
//@import "main-popup.scss";
@import "slider";
//@import "footer";
@import "../pages/link";

body{
  font-family: 'PT Sans', sans-serif;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  margin:0;

  @include w-from($md){
    .container{
      padding: 0;
    }

  }
  @include w-to($sm){
    .fancybox-content{
      padding: 22px;
    }
  }
}
.main{
  min-height: 100vh;
}

.wrapper{
  min-height: inherit;
  overflow: hidden;
  display: flex;
  flex-direction: column;

    &[data-theme='light'] {
      --color: black;
      --background: rgba(0.0.0.0,0);
      --link-color: #4541FE;
      --linear-bg: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }
    &[data-theme='dark']{
      --color: white;
      --background: linear-gradient(267.53deg, rgba(0, 0, 0, 0) 0.07%, #0C0C0C 99.93%);
      --link-color: #ccc;
      --linear-bg: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      @include w-to($sm){
        --background: black;
      }
    }

}


.main-content{
  flex: 1 1 auto;
}

.scroll-js{
  @include w-to($sm){
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 100%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }
  }
}
.active_scroll {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}
h2{
  margin:0;
}
.button-i {
  /* .button-i__item */
  &__item {
    cursor: pointer;
    padding: 11px 25px 10px 25px;
    background: linear-gradient(180deg, #FFC908 0%, #FFBA08 100%);
    box-shadow: 0px 0px 15px rgba(255, 146, 17, 0.5);
    border-radius: 4px;
    border: 0;
    font-size: 16px;
    font-family: "PT Sans";
    font-weight: 700;
    transition: all 0.5s ease-in-out;
    &:hover{
      background: linear-gradient(180deg, #F5BF00 0%, #F0AD00 100%);
      box-shadow: unset;
    }
  }
}

