@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "fonts-icons";
@import "slick-theme";
@import "slick";
//@import "main-popup.scss";
@import "slider";
@import "footer";

html{
  &[data-theme='white'] {
    --color: black;
    --background-color: white;
    --link-color: #698;
  }
  &[data-theme='dark']{
    --color: white;
    --background-color: black;
    --link-color: #690;
  }
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  margin:0;
}

h1{
  font-size: 4rem;
  @media (max-width:500px) {
    text-align: center;
    font-size: 3.5rem;
  }
}
h2{
  font-size: 3rem;
}
hr {
  display: none;

  @media (max-width:500px) {
      display: block;
  }
}
.color-theme {
  color: var(--color);
  background-color: var(--background-color);

  a {
    color: var(--link-color)
  }
}


.first{
  margin-bottom: 1rem;

}
.title{
  h2{
    margin-block-end: 1rem;
    line-height: 1;
  }
  p{
    font-size: 10pt;
  }
  .cont-inf{
    margin-top: 4rem;
    opacity: 0.5;
    font-size: 9pt;
  }
}
.second{

  p{
    margin-top: -5px;
  }
  .title-second{
    h2{

    }
  }
}
.third{
  .titleLink{
    margin-top: -5px;
  }
}
.toPart{
  background-color: #000008;
  color:white;
}
.swap-theme{
  cursor: pointer;
  &.active{
    cursor: default;
  }
}
.active{
  border-bottom: solid 1px var(--color) ;
}
