.row
    .col-3
        .title
            h2 Репро <br> дукцио
            p Оффлайн-магазин рупродуций шедевров мирового искусства
            .cont-inf
             p Санкт-Петербург, <br> ул. Адмирала Черокова, 18
             p +7 812 960-22-01 <br> shop@reproduct.io
    .col-9
        .row.justify-content-center.no-gutters.inner-slide
            .slider-for.col-9
                .item-for
                    img.lazyload(data-src='img/ref-1.jpg')
                    .inner-text
                        .item-text
                            p Тайная вечеря, 1484
                            p.small Леонардо да Винчи
                        .item-text
                            p.small 138 x 98 cm, холст
                            p.price 20 400₽
                .item-for
                    img.lazyload(data-src='img/ref-2.jpg')
                    .inner-text
                        .item-text
                            p Рождение Венеры, 1636
                            p.small Никола Пуссен
                        .item-text
                            p.small 97 х 108 cm, холст
                            p.price 2 400₽
                .item-for
                    img.lazyload(data-src='img/ref-3.jpg')
                    .inner-text
                        .item-text
                            p Шестикрылый Серафим, 1904
                            p.small Михаил Врубель
                        .item-text
                            p.small 131 х 155 cm, холст
                            p.price 4 100₽
            .slider-nav.col-3.align-self-center
                .item-nav
                    img.lazyload(data-src='img/ref-1.jpg')
                .item-nav
                    img.lazyload(data-src='img/ref-2.jpg')
                .item-nav
                    img.lazyload(data-src='img/ref-3.jpg')
