extends ../../templates/tp-item-card
block card-image-main
     +webp-images('assets/img/item/img1','img-main')
block card-image-nav
    - for(var i = 1; i<5;i++)
        .slider-nav__item
            +webp-images('assets/img/item/img'+i+'-nav','img'+i)
block title
    h2(itemprop="name") Maison Margiela Fusion Low Sneakers
    span Кроссовки
block char-text-matireal
    |Кожа, текстиль
block char-text-cantry
    |Италия
block char-text-about
    p Деконструктивный и авангардный дизайн с уникальными концепциями и нетрадиционным мастерством.
    p В качестве материала используются два вида кожи. Верх дополнен деталями из сетчатого материала и текстиля.
    p Грубые и многослойные кроссовки показывают отличие от традиционного аккуратного стиля создания обуви. Они оснащены раскрашенной вручную резиновой подошвой с брызгами и потеками.
    p Оригинальная слегка асимметричная система шнуровки и фирменный стежок на заднике завершают уникальный внешний вид.
block char-text-ditali
    | — Два вида кожи <br>
    | — Детали из текстиля<br>
    | — Неординарная шнуровка<br>
    | — Перфорация на мыске<br>
    | — Стежок на заднике<br>
    | — Фигурная резиновая подошва<br>
    | — Цепкая подметка<br>
    | — Окрашивание с брызгами и потеками<br>
    | — Пестрая расцветка<br>
