
.main-content__inner
    .slider
        .slider__item
            .container
                .row
                    .col-12
                        .slider__text
                            span Reebok Aztrek <br>Doubl
            .slider__image
                picture
                    source( data-srcset='assets/img/image1.webp', type='image/webp')
                    source( data-srcset='assets/img/image1.jpg', type='image/jpg')
                    img(data-src='assets/img/image1.jpg', alt='img1').lazyload
        .slider__item
            .slider__image
                picture
                    source( data-srcset='assets/img/image2.webp', type='image/webp')
                    source( data-srcset='assets/img/image2.jpg', type='image/jpg')
                    img(data-src='assets/img/image2.jpg', alt='img2').lazyload
        .slider__item.white
            .container
                .row
                    .col-12
                        .slider__text
                            span Nike ACG: навстречу <br>новым открытиям
            .slider__image.slider__image__position
                picture
                    source( data-srcset='assets/img/image-3.webp', type='image/webp')
                    source( data-srcset='assets/img/image-3.jpg', type='image/jpg')
                    img(data-src='assets/img/image-3.jpg', alt='img3').lazyload
        .slider__item.white
            .container
                .row
                    .col-12
                        .slider__text
                            span Распродажа <br>до −15%
            .slider__image
                picture
                    source( data-srcset='assets/img/image-4.webp', type='image/webp')
                    source( data-srcset='assets/img/image-4.jpg', type='image/jpg')
                    img(data-src='assets/img/image-4.jpg', alt='img4').lazyload
    .intro
        .container
            .row.no-gutters
                .col-12.col-md-3
                    .intro__text
                        p <b>Фетч</b> — мультибрендовый магазин модной одежды.
                        p Следим за трендами и часто обновляем ассортимент.
                        p Доставляем по Москве за день, по России — за неделю.
                .col-12.col-md-9
                    ul.intro-list.list
                        li.intro-list__item
                            a(href="#") Для мужчин
                            ul.intro-list__link.list__link
                                li.intro-list__sublink
                                    a(href="#") Верхняя одежда
                                li.intro-list__sublink
                                    a(href="#") Рубашка и поло
                                li.intro-list__sublink
                                    a(href="#") Трикотаж
                                li.intro-list__sublink
                                    a(href="#") Брюки и джинсы
                                li.intro-list__sublink
                                    a(href="#") Белье и носки
                        li.intro-list__item
                            a(href="#") Для женщин
                            ul.intro-list__link.list__link
                                li.intro-list__sublink
                                    a(href="#") Верхняя одежда
                                li.intro-list__sublink
                                    a(href="#") Рубишки и поло
                                li.intro-list__sublink
                                    a(href="#") Трикотаж
                                li.intro-list__sublink
                                    a(href="#") Платья и юбки
                                li.intro-list__sublink
                                    a(href="#") Белье и носки
                        li.intro-list__item
                            a(href="#") Обувь
                            ul.intro-list__link.list__link
                                li.intro-list__sublink
                                    a(href="#") Кроссовки и кеды
                                li.intro-list__sublink
                                    a(href="#") Ботинки
                        li.intro-list__item
                            a(href="#") Аксессуары
                            ul.intro-list__link.list__link
                                li.intro-list__sublink
                                    a(href="#") Сумки и рюкзаки
                                li.intro-list__sublink
                                    a(href="#") Часы
                                li.intro-list__sublink
                                    a(href="#") Бижутерия
                                li.intro-list__sublink
                                    a(href="#") Средства для ухода
                        li.intro-list__item
                            a(href="#") Скидки
                            ul.intro-list__link.list__link
                                li.intro-list__sublink
                                    a(href="#") Летняя распродажа
                                li.intro-list__sublink
                                    a(href="#") Коллекция 2018
    .images
        .container
            .row.no-gutters
                .col-12.col-md-5
                    .images__item.images__item_orange
                        .images__title.title
                            h2 Лукбук, лето 2019
                            .images__subtitle.title__subtitle Стильные образы для тёплых деньков
                        .images__inner
                            picture
                                source(media='(max-width:425px)', data-srcset='assets/img/lookbook-sm.webp', type='image/webp')
                                source(media='(min-width:1024px)', data-srcset='assets/img/lookbook.webp', type='image/webp')
                                source(media='(max-width:425px)', data-srcset='assets/img/lookbook-sm.png', type='image/png')
                                source(media='(min-width:1024px)', data-srcset='assets/img/lookbook.png', type='image/png')
                                img(data-src='assets/img/lookbook.png', alt='lookbook').lazyload
                    .images__item.images__item_blue
                        .images__title.title
                            h2 Выбор редакции: часы
                            .images__subtitle.title__subtitle ТОП-5 лучших предложений по версии администрации Фетч
                .col-12.col-md-7
                    .images__item.images__item_purpur
                        .images__title.title
                            h2 Новая коллекция adidas Originals
                            .images__subtitle.title__subtitle Десять крутейших кроссовок
                        .images__inner
                            picture
                                source(media='(max-width:425px)', data-srcset='assets/img/sneakers-sm.webp', type='image/webp')
                                source(media='(min-width:1024px)', data-srcset='assets/img/sneakers.webp', type='image/webp')
                                source(media='(max-width:425px)', data-srcset='assets/img/sneakers-sm.png', type='image/png')
                                source(media='(min-width:1024px)', data-srcset='assets/img/sneakers.png', type='image/png')
                                img(data-src='assets/img/sneakers.png', alt='sneakers').lazyload
                .col-12
                    .images__item.images__item_grey
                        .images__title.title
                            h2 Предзаказ: Maison Margiela Fusion
                            .images__subtitle.title__subtitle От 92 000 ₽
                        .images__inner
                            picture
                                source(media='(max-width:425px)', data-srcset='assets/img/3-layers-sm.webp', type='image/webp')
                                source(media='(min-width:1024px)', data-srcset='assets/img/3-layers-sh.webp', type='image/webp')
                                source(media='(max-width:425px)', data-srcset='assets/img/3-layers-sm.png', type='image/png')
                                source(media='(min-width:1024px)', data-srcset='assets/img/3-layers-sh.png', type='image/png')
                                img(data-src='assets/img/3-layers-sh.png', alt='3-sneakers').lazyload
