.container
    .row
        .col.title
            h2 Написать нам
            p  Заполните форму справа
            p  или отправте письмо на shop@reproduct.io
        .col
            .form-contact
                form
                    .in-email
                        input(type='email' placeholder='Email')
                    .in-text
                        textarea(placeholder='Сообщение')
                .error-form.visible-none
                    p Введите почту в формате ххх@ххх.хх
                .success-form.visible-none
                    p Отправленно
                    p Мы ответим вам на почту в течение нескольких рабочих дней
    .row
        .col
            .cap Репродукцио, 2020
            .roll
                a(data-fancybox='hello' data-src='#small-dialog' href='javascript:;') Правила обработки персональных данных
            #small-dialog(style="display:none;")
                include p
        .col
            .inner-button
                button(type='button' class='button-form') Отправить сообщение

