header.container
    .row
        .col-12
            .swap
                span.swap-theme.active(data-theme-color="white") White
                span |
                span.swap-theme(data-theme-color="dark") Dark
        .col
            h1 Профиль
