p
    | Неловко писать о себе самом, но положение обязывает. Дабы заранее отбросить упреки в отсутствии объективности, пишу лишь самую скромную заметку, упоминая лишь повсеместно известные факты.
p
    | <span itemprop="name">Андрей<span> Родившийся в 1996 году даровитый поэт и философ, <span itemprop="jobTitle">выпускник Компьютерной академии</span>, частый гость на хакерских сходках, и крутых тусовках, несравненный любовник, ценимый, а порою и даже обожаемый дамами по всему миру)), умелый дипломат и пылкий оратор — вот образ Андрея, известный по рассказам знавших его людей.
    |  Образ это, пожалуй, несколько перенасыщен красками: сам же, предпочитает думать о себе как о непритязательном художнике и скромном служителе муз.
